@media screen and (max-width: 1200px) {
    .modal-content h4 ,p{
        font-size: 12px;
        padding-top:3%;
    }
}

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
 
}

/*header*/
.navbar {
  background-color: #2D87E7 !important;
}

a.navbar-branch i{
  color: white;
}

a.navbar-branch i:hover{
  color: #095C09;
}

.navbar li a,.dropdown-menu {
    color: white !important;
    background-color: #2D87E7 !important;
}

.navbar li a:hover{
    color: #095C09 !important;
    background-color: transparent !important;
}

.container{padding-bottom: 20px ;}

.show > .btn.dropdown-toggle{
  color: #095C09 !important;
  background-color: transparent !important;
}   
 @media screen and (max-width: 804px ){
    .navbar li a{
      font-size: 14px;
    }  
}
@media screen and (max-width: 767px ){
    .navbar li a{
      font-size: 16px;
    }  
}


header{
    position: scroll;
}

button{
    margin: .5rem;
}

.cards{
    margin: 1rem;
    padding: 0%;
}

a:hover{
    color: #5ed1a5;
}

.card{
    margin:.3rem;
    text-align: center;
}

div.mid ul li {
    list-style-type: none;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(4, 170, 109);
}

.card-title{
    color: black;
    font-family: Sitka Small;
    font-size: 14px;
    font-weight: bold;
}

hr.hrr{
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 2.5rem!important;
    margin-top: 1rem!important;
    width: 50%!important;
    background-color: blue;
}

section.cards h1{
    color:  #E23A3A;
}

section.cards{
    margin-top: 80px;
    text-align: center;
}

div.card{
    background-color: #89C1ED;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 20%), 0 6px 16px 0 rgb(0 0 0 / 19%);
}

img.card{
    background-color: none;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 9px 1px rgb(0 0 0 / 46%);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle, .middle-two{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(50%, 50%);*/
  text-align: left;
}

.container, .container1{
  display: inline-block;
}

.container:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.container1:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.container:hover .image,  .container1:hover .image{
  opacity: 0.3;
}

.container:hover .middle,  .container1:hover .middle-two{
  opacity: 1;
}

div.middle div.text {
  background-color: #7ED982;
  color: white;
  font-size: 15px;
  padding: 2px 4px;
  width: 200px;
  height: 200px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

#wrapper{
  display: flex;
  justify-content: center;
}

ul.list{
  display: flex;
}

ul.list li{
  overflow: hidden;
  display: flex;
  max-width: 550px;
}

ul.list li img{
  max-width: 100%;
  height: 420px;
}

ul.list li a img{
  display: block;
  max-width: 100%;
  transition: 0.3s ease;
}

ul.list li a{
  position: relative;
  display: block;

}

ul.list li a .name{
  position: absolute;
  color: #E92956;
  background-color: ;
  font-weight: bold;
  letter-spacing: 2px;
  bottom: 0px;
  font-size: 15px;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

ul.list li:hover img{
  transform: scale(1.1);
  opacity: 0.2;
}

ul.list li a:hover .name{
  bottom: 40%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #EDA8A8;
  font-size: 28px;
}

.card-two{
  margin-top: 30px;
  margin-left: 28px;
  text-align: center;
}

.container1{
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    margin-left: -1%;
    margin-right: 2%;
}

div.middle-two div.text-two {
  background-color: none;
  color: white;
  font-size: 15px;
  width: 200px;
  height: 200px;
  text-align: center;
}

.middle-two{
  margin-left: 20px;
}

.mt-3{
    text-align: center;
    margin-left: 30px;
    font-family: Constantia;
    color: #099CC6;
}

.icon-team{
    font-size: 2rem;
}

div.card1{
    background-color: #ffffff;
    display: inline-block;
    text-align: left;
    margin-top: 65px;
}

div.card2{
    background-color: #ffffff;
    display: inline-block;
    text-align: left;
    margin-top: 55px;
}

div.card1 form{
    background-color: #ffffff;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.u1{
    font-family: Times New Roman;
    font-size: 22.5px;
}

.dd{
    color: #C82D8B;
}

.ccc{
    color: #9B4F0F;
    font-family: Arial;
    font-size: 17.5px;
    line-height: 35px;
}

u{
    color: #063852;
    font-size: 16.5px;
}

section{
    text-align: center;
}

section div h3{
    color: #087215;
    font-size: 42px;
}

div.align-items-center{
    text-align: center;
}

p.pp1{
    margin-left: 50px;
}

@-webkit-keyframes flash {
 0% { opacity: .3; }
 100% { opacity: 1; }
}
@keyframes flash {
 0% { opacity: .3; }
 100% { opacity: 1; }
}
.flash:hover {
 opacity: 1;
 -webkit-animation: flash 1s;
 animation: flash 1s;
}


footer{
  color: white;
  position: scroll;
  bottom: 0px;
  width: 100%;
  font-family: Calibri;
  background: rgba(0, 0, 0, 0.9);
}

footer p, footer span, footer div{
    font-family: Calibri;
    font-size: 16.8px;
}

.main-content{
  display: flex;
}

.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content{
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}

.left .content p{
  text-align: justify;
}

.left .content .social{
  margin: 20px 0 0 0;
}

.left .content .social a{
  padding: 0 2px;
}

.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #363535;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover{
  background: #1986F5;
}

.center .content .fas{
  font-size: 1.4375rem;
  background: #363535;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover{
  background: #1986F5;
}

.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone{
  margin: 15px 0;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color:  white;
}

.right form .msg{
  margin-top: 10px;
}

.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #363535;
  padding-left: 10px;
  border: 1px solid #363535;
}

.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}

.right form input{
  height: 35px;
  width: 100%;
}

.right form .btn{
  margin-top: 10px;
  width: 100%;
  text-align: center;
  margin-left: 0px;

}

.right form .btn input{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #363535;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.right form .btn input:hover{
  background: #1986F5;
  width: 100%;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }

  ul.list li img{
    /*overflow: hidden;*/
    width: 300px;
    height: 200px;
  }
  ul.list li a:hover .name{
    bottom: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #EDA8A8;
    font-size: 15px;
  }

}


[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 500px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (min-width: 1400px) {
  /* For desktop: */
  .col-d-1 {width: 8.33%;}
  .col-d-2 {width: 16.66%;}
  .col-d-3 {width: 25%;}
  .col-d-4 {width: 33.33%;}
  .col-d-5 {width: 41.66%;}
  .col-d-6 {width: 50%;}
  .col-d-7 {width: 58.33%;}
  .col-d-8 {width: 66.66%;}
  .col-d-9 {width: 75%;}
  .col-d-10 {width: 83.33%;}
  .col-d-11 {width: 91.66%;}
  .col-d-12 {width: 100%;}
  
}
