body {
  background:  #E0E2E2;
}
.card-custom button{
    border-radius: 0;
    background: chocolate;
}

@media screen and (max-width: 1200px) {
    .modal-content h4 ,p{
        font-size: 12px;
        padding-top:3%;
    }
}

.navbar {
  background-color: #2D87E7 !important;
  font-family: Book Antiqua;
}
a.navbar-branch i{
  color: white;
}
a.navbar-branch i:hover{
  color: #095C09;
}
.navbar li a,.dropdown-menu {
    color: white !important;
    background-color: #2D87E7 !important;
}
.navbar li a:hover{
    color: #095C09 !important;
    background-color: transparent !important;
}

.container{padding-bottom: 20px ;}

.show > .btn.dropdown-toggle{
  color: #095C09 !important;
  background-color: transparent !important;
}   
 @media screen and (max-width: 804px ){
    .navbar li a{
      font-size: 14px;
    }  
}
@media screen and (max-width: 767px ){
    .navbar li a{
      font-size: 16px;
    }  
}


button{
    margin: .5rem;
}

.cards{
    margin: 1rem;
    padding: 0%;

}

.dropdown-item:hover, .dropdown-item:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(4, 170, 109);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
 
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  color: white;
  position: scroll;
  bottom: 0px;
  width: 100%;
  font-family: Calibri;
  background: rgba(0, 0, 0, 0.9);
}

footer p, footer span, footer div{
    font-family: Calibri;
    font-size: 16.8px;
}


.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #363535;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #1986F5;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #363535;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #1986F5;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color:  white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #363535;
  padding-left: 10px;
  border: 1px solid #363535;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
  width: 100%;
}
.right form .btn{
  margin-top: 10px;
  width: 100%;
  text-align: center;
  margin-left: 0px;

}
.right form .btn input{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #363535;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn input:hover{
  background: #1986F5;
  width: 100%;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}