@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    color: #222;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header*/
.navbar {
  background-color: #2D87E7 !important;
}
a.navbar-branch i{
  color: white;
}
a.navbar-branch i:hover{
  color: #095C09;
}
.navbar li a,.dropdown-menu {
    color: white !important;
    background-color: #2D87E7 !important;
}
.navbar li a:hover{
    color: #095C09 !important;
    background-color: transparent !important;
}
.show > .btn.dropdown-toggle{
  color: #095C09 !important;
  background-color: transparent !important;
}   
 @media screen and (max-width: 804px ){
    .navbar li a{
      font-size: 14px;
    }  
}
@media screen and (max-width: 767px ){
    .navbar li a{
      font-size: 16px;
    }  
}    
.carousel{
    width: 80%;
    margin: auto;
}
.carousel-inner img {
    width: 100%;
}
.contaniner{
    margin: 60px auto;
    text-align: center;
    width: 90%;
    border: 2px #2D87E7 solid;
    padding-bottom: 20px ;
    font-family: 'Poppins', sans-serif;
}
.contaniner h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
    background-color: #2D87E7;
    padding: 20px 0;

}
.contaniner ul.tab {
    list-style-type:none;
    display: flex;
}
.contaniner ul.tab li{
    background-color: white;
    padding: 15px;
    color: black;
    border-radius: 3px;
    border: 1px black solid;
    cursor: pointer;
    text-align: center; 
}
.contaniner ul.product-list{
    list-style-type: none;
    margin: 10px 0 0 ;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: none;
}

/*.contaniner ul{
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }*/

div.animation{
    background-color: none;
    justify-content: center;
}
#trend-2,#trend-3,#trend-4,#trend-5,#trend-6{
    display: none;
}
ul.tab {
   justify-content: center;
   margin-bottom: 20px;
}
.contaniner ul.tab li{
    margin:0 5px 0;
}  
ul.tab li.active{
    background-color: #2D87E7;
    color: white;
}
.tab-item-img{
  margin-top: 20px;
}
div.infor{
  padding-top:10px ;
   width: 70%;
   margin: auto;
}
div.infor a{
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
div.product{
  background-color: white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px;
  overflow: hidden;
  height: 395px;
  padding-top: 5px;
}
div.product a img{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 325px;

}

.product:hover,.featured .featured-slider .box:hover{
  transform: scale(1.1);
  background:#eee;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
/*Media query*/
@media screen and (max-width: 1080px){
    .contaniner ul.tab li{
    font-size: 15px;
    }
    div.product{
      height: 365px;
    }
    div.product a img{
      height: 290px;
    }  
}
@media screen and (max-width: 530px){
  h1.title{
      font-size: 20px;
  }
  .contaniner ul.tab li{
    font-size: 12px;
  }
   div.product{
      height: 265px;
    }
    div.product a img{
      height: 185px;
    } 
  div.infor a{
    font-size: 14px;
  }
}
@media screen and (max-width: 400px){
  .contaniner ul.tab li{
       padding: 8px;
       font-size: 10px;
    }
    div.infor a{  
      font-size: 10px;
    }
    div.product{
      height: 225px;
    }
    div.product a img{
      height: 150px;
    } 
}

.heading{
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
    background-color: #2D87E7;
    padding: 20px 0; 
    font-family: 'Poppins', sans-serif; 
}
.featured {
  width: 90%;
  margin: auto;
}
.featured .featured-slider .box{
    width: 15rem;
    overflow: hidden;
    text-align: center;
    height: 25rem;
    border: 2px;
    border-radius: 10px;
}
.featured .featured-slider .box .image img{
    height: 19rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.featured .featured-slider .box {
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box h3{
    margin-top: 10px;
    font-size: 1rem;
    color: black;
}
.swiper-button-next,
.swiper-button-prev{
    color: #2D87E7 !important;
}
.swiper-button-prev{
  left: -2px;
}
.swiper-button-next{
  right: -2px;
}
/*footer*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


footer{
  color: white;
  position: scroll;
  bottom: 0px;
  width: 100%;
  font-family: Calibri;
  background: rgba(0, 0, 0, 0.9);
}

footer p, footer span, footer div{
    font-family: Calibri;
    font-size: 16.8px;
}


.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #363535;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #1986F5;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #363535;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #1986F5;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color:  white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #363535;
  padding-left: 10px;
  border: 1px solid #363535;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
  width: 100%;
}
.right form .btn{
  margin-top: 10px;
  width: 100%;
  text-align: center;
  margin-left: 0px;

}
.right form .btn input{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #363535;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn input:hover{
  background: #1986F5;
  width: 100%;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}